@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Regular.ttf') format('ttf');
    src: url('../fonts/Inter_18pt-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Medium.ttf') format('tff');
    font-weight: medium;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Bold.ttf') format('tff');
    font-weight: bold;
    font-style: normal;
  }
  