.sidebar {
  width: 210px;
  height: 100vh;
  background-color: #1D3555;
  color: #B1B1B1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 1px solid #B1B1B1;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.sidebar-item, .sidebar-item-logout {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-item-logout {
  margin-top: 180px;
}

.side-bar-logo {
  margin-right: 20px;
  margin-left: 13%;
  width: 11%;
}

.name-logo {
  display: flex;
  flex-direction: column;
}

.business-name {
  margin-top: -15%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-name-text {
  color: #FCFEFF;
  margin-top: 25%;
  font-size: 23px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.side-bar-text {
  font-size: 100%;
  color: #FCFEFF;
}

.sidebar-item.active, .sidebar-item-logout.active {
  color: #1814F3;
  border-left: 5px solid #1814F3; 
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.dropdown-item {
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
